.main .js-video {
  width: 100%;
  position: relative;
  z-index: 1;
}

.js-video__controls {
  position: absolute;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 45px 45px;
  grid-gap: 15px;
  flex-direction: column;
  bottom: 250px;
  z-index: 1;
  margin-left: 70px;
}

.js-video__controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: 0;
  font-size: 18px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.js-muteBtn:hover,
.js-playBtn:hover {
  background-color: rgba(125, 125, 125, 0.5);
  color: black;
}

.js-muteBtn:focus,
.js-playBtn:focus {
  outline: none;
}

.js-volume {
  display: flex;
  grid-row-start: 2;
  justify-content: space-between;
}

.js-range {
  grid-column-start: 2;
  grid-row-start: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.showing {
  visibility: visible;
  opacity: 1;
}
