input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 130px;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 130px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px rgba(80, 85, 92, 0.7) inset;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgba(236, 27, 27, 1);
  box-shadow: 1px 1px 1px rgba(80, 85, 92, 0.7);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]:active::-webkit-slider-runnable-track {
  background: rgba(80, 85, 92, 0.5);
}
