@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import "css/reset.css";
@import "css/header.css";
@import "css/range.css";
@import "css/main-video.css";
body {
  height: 300vh;
  background-color: black;
}

.coverflow {
  z-index: 2;
  position: relative;
  top: -200px;
}
.video__list--title {
  color: white;
  font-size: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.js-video__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 500px;
  grid-gap: 20px;
}

.box {
  z-index: 1;
  display: flex;
  background-color: #f1c40f;
  transition: transform 0.2s linear;
}

.box:hover {
  transform: scale(1.3) translateY(-50px);
}

.next {
  transform: translateX(40px);
}

.previous {
  transform: translateX(-40px);
}

.box:first-child {
  background: url("https://images-na.ssl-images-amazon.com/images/I/71d-53%2BeM0L._SY550_.jpg");
  background-size: 100% 500px;
}

.box:nth-child(2) {
  background: url("http://post.phinf.naver.net/MjAxNzA5MjVfMTM4/MDAxNTA2MzE4MDgxMzk1.h4ZWfvOrzZYAYCz7wByg22qpJJAt3iOd1gtqJbGXXuQg.ck_qX938ZScyfo7D4NXxULd7wmsFS2NVsVuaLAXbwdcg.JPEG/IxBnm9lfNkRqLJetRWfr93AhVF6k.jpg");
  background-size: 100% 500px;
}

.box:nth-child(3) {
  background: url("https://images-na.ssl-images-amazon.com/images/I/61MBChdIWZL._SL1023_.jpg");
  background-size: 100% 500px;
}

.box:nth-child(4) {
  background: url("http://www.impawards.com/2013/posters/her.jpg");
  background-size: 100% 500px;
}

.box:nth-child(5) {
  background: url("http://cafefiles.naver.net/20121029_126/leeyoongi_13514646141730CLTe_JPEG/2.jpg");
  background-size: 100% 500px;
}
